.Todo {
	font-size: 14px;
	padding: 5px;
}

.Todo>div {
	width: 20%;
	font-size: 16px;
	display: inline-block;
}

.Todo>div:first-child {
	width: 75%;
	font-size: 16px;
	display: inline-block;
}

.TodoP {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.Todo>div>i {
	float: right;
}

.Todo>div>i:hover[class*='trash'] {
	color: red;
	cursor: pointer;
}

.Todo>div>i:hover[class*='circle'] {
	color: cyan;
	cursor: pointer;
}
